<div class="modal-header">
    <h4 class="modal-title">Add Serie</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Real</span>
        <input type="text" class="form-control" [(ngModel)]="real" placeholder="Real" aria-label="Real" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Imaginary</span>
        <input type="text" class="form-control" [(ngModel)]="imaginary" placeholder="Imaginary" aria-label="Imaginary"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Exponent</span>
        <input type="text" class="form-control" [(ngModel)]="exponent" placeholder="Exponent" aria-label="Exponent"
            aria-describedby="basic-addon1">
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(null)">Cancel</button>
    <button type="button" class="btn btn-success" (click)="add()">Add</button>
</div>